[Unit]
Description=MongoDB container for Gamers
After=gamers.network gamers.pod mongodb-data.volume
Requires=gamers.network gamers.pod mongodb-data.volume

[Container]
Image=docker.io/library/mongo:8
Pod=gamers-pod
Volume=gamers-mongodb-data:/data/db:Z
Environment=MONGO_INITDB_ROOT_USERNAME=admin
Environment=MONGO_INITDB_ROOT_PASSWORD=adminpass
Environment=MONGO_INITDB_DATABASE=gamers
StopTimeout=10
Restart=always
