[Unit]
Description=MongoDB 8
After=mongodb-data.volume
Requires=mongodb-data.volume

[Container]
Image=docker.io/library/mongo:8
Name=mongo
Environment=MONGO_INITDB_ROOT_USERNAME=admin
Environment=MONGO_INITDB_ROOT_PASSWORD=adminpass
Volume=mongodb-data:/data/db
PublishPort=27017:27017

[Service]
Restart=always

[Install]
WantedBy=default.target
